

<div class="content-width-2">
    <div class="title-page">
        <h2>Страница создания шаблона</h2>
        <p>
            <span>Задайте структуру шаблона виртуального стола:</span>
        </p>
    </div>
    <form>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="text-area-create-template">Шаблон виртуального стола</label>
                    <textarea class="form-control" id="text-area-create-template" rows="10"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col right">
                <button id="save-template" type="button" class="btn btn-primary">Сохранить</button>
            </div>
            <div class="col">
                <button id="cancel-template" type="button" class="btn btn-primary">Отмена</button>
            </div>
        </div>
    </form>
</div>