<!--<div class="content-width-2">
    <div class="title-page">
        <h2>Страница создания виртуального стола</h2>
    </div>
    <form>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="desktop-name">Название</label>
                    <input type="text" class="form-control" id="desktop-name" placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="desktop-organization">Организация</label>
                    <input type="text" class="form-control" id="desktop-organization" placeholder="Example input">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="text-area-template">Шаблон виртуального стола</label>
                    <textarea class="form-control" id="text-area-template" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <div class="create-desktop-template">templateDesktop</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col center">
                <button id="save-desktop" type="button" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-primary">Отмена</button>
            </div>
            <div class="col">
            </div>
        </div>
    </form>
</div>-->