<div class="content-width-2">
    <div class="title-page">
        <h2>Виртуальный стол</h2>
    </div>
    <form>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="text-area-desktop-structure">Структура виртуального стола</label>
                    <textarea class="form-control" id="text-area-desktop-structure" rows="15"></textarea>
                </div>
            </div>
            <div class="col-8">
                <p>Содержание</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Дата последнего изменения</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Теги</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Название 1</th>
                        <td>Mark</td>
                        <td>03.04.2021</td>
                        <td>03.04.2021</td>
                        <td>В разработке</td>
                        <td>Тег1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>