.login-block
{
    /*Центрирование*/
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    /*Отступ сверху*/
    margin-top: 10%;
    background-color:#fff;
    padding:60px;
    -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    text-align:center;
    border-radius:5px
}

.login-block .input-group-addon
{
    color:#29aafe;
    font-size:19px;
    opacity:.5;
    padding-right: 5px;
}
.login-block .btn-block
{
    margin-top:30px;
    padding:15px;
    background:#29aafe;
    border-color:#29aafe;
}
.login-block .hr-xs
{
    margin-top:5px;
    margin-bottom:5px
}

.content-width{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.list-group a{
    height: 2.5em;
    font-size: 1.5em;
}

.list-group a:hover{
    background-color: #007bff;
    color: #fff;
}

#user-icon i{
    font-size: 1.3em;
    color: #ffffff;
}


#form-info-user{
    width: 300px;
    padding: 20px;
    /*margin-right: 200px;*/
}

#user-login-btn-info{
    color: #ffffff;
}

#icon-user{
    font-size: 1.7em;
}
#info-user .dropdown-menu{
    left: -150px;
    color: #495057;
}



#info-user .dropdown-menu .btn-log-out{
   text-align: right;
}

.point {
    margin-left: 7%;
    font-size: 24px;
}


.hide{
    display: none;
}

.label-point-show::before{
    content: "-";
}

.label-point-hide::before{
    content: "+";
}

.template-html{
    width: 80%;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: 5%;
}

.border-inline-template{
    width: 90%;
    height: 70%;
    border: 1px solid black;
    position: absolute;
    z-index: 9;
    margin-left: 5%;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.title-page{
    margin-top: 3%;
    margin-bottom: 5%;
}

.content-width-2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* контейнер просто содержит узлы.
 Узел сам будет отвечать за свой отступ */
.Container {
    padding: 0;
    margin: 0;
}

.Container li {
    list-style-type: none; /* убрать кружочки/точечки */
}

/* узел отодвинут от левой стенки контейнера на 18px
    благодаря этим отступам вложенные узлы формируют иерархию
 */
.Node {
    margin-left: 18px;
    zoom: 1; /* спецсвойство против багов IE6,7. Ставит hasLayout */
}

/* Корневой узел от родительского контейнера не отодвинут.
   Ему же не надо демонстрировать отступом, чей он сын.
   Это правило идет после .Node, поэтому имеет более высокий приоритет
   Так что class="Node IsRoot" дает margin-left:0
*/
.IsRoot {
    margin-left: 0;
}

/* иконка скрытого/раскрытого поддерева или листа
    сами иконки идут дальше, здесь общие свойства
 */
.Expand {
    width: 18px;
    height: 18px;
    /* принцип двухколоночной верстки. */
    /* float:left и width дива Expand + margin-left дива Content */
    float: left;
    margin-right: 5px;
}

/* содержание (заголовок) узла */
.Content {
    /* чтобы не налезать на Expand */
    margin-left:18px;
    /* высота заголовка - как минимум равна Expand
        Т.е правая колонка всегда выше или равна левой.
        Иначе нижний float будет пытаться разместиться на получившейся ступеньке
    */
    min-height: 18px;
    /*border: 1px solid black;*/
}

/* все правила после * html выполняет только IE6 */
* html .Content {
    height: 18px; /* аналог min-height для IE6 */
}

/* открытое поддерево */
.ExpandOpen .Expand {
    /*background-image: url(../img/minus.gif);*/
}


.Node {
    margin-left: 18px;
    zoom: 1;
    /* линия слева образуется повторяющимся фоновым рисунком */
    background-image : url(../img/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
}

.content-template-list{
    font-size: 24px;
    margin-top: 3%;
}

.create-desktop-template{
    width: 500px;
    height: 350px;
    border: 1px solid black;
    padding-left: 15px;
    padding-top: 15px;
}