.login-block
{
    /*Центрирование*/
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    /*Отступ сверху*/
    margin-top: 10%;
    background-color:#fff;
    padding:60px;
    -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    text-align:center;
    border-radius:5px
}

.login-block .input-group-addon
{
    color:#29aafe;
    font-size:19px;
    opacity:.5;
    padding-right: 5px;
}
.login-block .btn-block
{
    margin-top:30px;
    padding:15px;
    background:#29aafe;
    border-color:#29aafe;
}
.login-block .hr-xs
{
    margin-top:5px;
    margin-bottom:5px
}

.content-width{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.list-group a{
    height: 2.5em;
    font-size: 1.5em;
}

.list-group a:hover{
    background-color: #007bff;
    color: #fff;
}

#user-icon i{
    font-size: 1.3em;
    color: #ffffff;
}


#form-info-user{
    width: 300px;
    padding: 20px;
    /*margin-right: 200px;*/
}

#user-login-btn-info{
    color: #ffffff;
}

#icon-user{
    font-size: 1.7em;
}
#info-user .dropdown-menu{
    left: -150px;
    color: #495057;
}



#info-user .dropdown-menu .btn-log-out{
   text-align: right;
}

.point {
    margin-left: 7%;
    font-size: 24px;
}


.hide{
    display: none;
}

.label-point-show::before{
    content: "-";
}

.label-point-hide::before{
    content: "+";
}

.template-html{
    width: 80%;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: 5%;
}

.border-inline-template{
    width: 90%;
    height: 70%;
    border: 1px solid black;
    position: absolute;
    z-index: 9;
    margin-left: 5%;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.title-page{
    margin-top: 3%;
    margin-bottom: 5%;
}

.content-width-2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}